<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= stylesheet_link_tag    "application", :media => "all", 'data-turbolinks-track': 'reload' %> <!--Bulma reference-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  <title><%= full_title(yield(:title)) %></title>
</head>
  <body>
    <div class="container is-fluid">
      <!-- HEADER -->
      <%= render 'layouts/header' %>
      <section class="hero is-primary">
        <br></br> 
      </section>

      <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <!-- CONTENT -->
      <section class="section">
        <div class="content is-large has-text-centered">
          <%= yield %>
        </div>
      </section>
      <!--Footer-->  
      <%= render 'layouts/footer' %>
      <!-- Add some debug information to the site layout. -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>